<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h3>Progress</h3>
        
        <div>
            Friday XX, May, 2019
        </div>
    </div>
</nav>

<div class="col-xl-12 d-flex">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em" (click)= "open(content,'Callum')"><i id="camera"  class="fa fa-camera-retro"></i></span>
                <span class="badge float-right" style="font-size: 1.3em" (click)= "openComment(contenido,'Callum')"><i class="fas fa-comment-alt"></i></span>
               
                <!--<div class="mb-0">
                     <span class="badge float-left" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i></span>
                    <label for="browse"><span class="badge float-left" style="font-size: 1.3em"><i class="fas fa-camera-retro"></i></span></label>
                    <input type="file" id="browse" name="browse" style="display: none">
                </div>-->
                <h5 class="card-title mb-0"><a href="/studentDetail/1">Callum</a></h5>             
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-camera-retro"></i></span>
                <h5 class="card-title mb-0">Callum</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-camera-retro"></i></span>
                <h5 class="card-title mb-0">Callum</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-camera-retro"></i></span>
                <h5 class="card-title mb-0">Callum</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12 d-flex mt-4">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-camera-retro"></i></span>
                <h5 class="card-title mb-0">Callum</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-camera-retro"></i></span>
                <h5 class="card-title mb-0">Callum</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-camera-retro"></i></span>
                <h5 class="card-title mb-0">Callum</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-camera-retro"></i></span>
                <h5 class="card-title mb-0">Callum</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12 d-flex mt-4">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-camera-retro"></i></span>
                <h5 class="card-title mb-0">Callum</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-camera-retro"></i></span>
                <h5 class="card-title mb-0">Callum</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-camera-retro"></i></span>
                <h5 class="card-title mb-0">Callum</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
        	</div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <span class="badge float-right" style="font-size: 1.3em"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-camera-retro"></i></span>
                <h5 class="card-title mb-0">Callum</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Present</th>
                        <th scope="col"></th>
                        <th scope="col">Check</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SPL</td>
                        <td>*</td>
                        <td>SPL</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>#rods</td>
                        <td>*</td>
                        <td>#rods</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>BS</td>
                        <td>*</td>
                        <td>BS</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Browm</td>
                        <td>*</td>
                        <td>Browm</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Care of</td>
                        <td>*</td>
                        <td>Care of</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>*</td>
                        <td>Canada</td>
                        <td>*</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #contenido let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi Callum!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="hola" class="modal-body">
    <label>Add a comment: </label>
    <br>
    <textarea [(ngModel)]="str"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi Callum!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="hola" class="modal-body">
    <p>Add a Photo!</p>
    <input type="file" id="browse" name="browse">
    <br><br>
    <label>Add a comment: </label>
    <br>
    <textarea [(ngModel)]="str"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>

<script type="text/javascript">
	$("#hola:input").change(function(e) {
		console.log("ASDasd")

    for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
        
        var file = e.originalEvent.srcElement.files[i];
        
        var img = document.createElement("img");
        var reader = new FileReader();
        reader.onloadend = function() {
             img.src = reader.result;
        }
        reader.readAsDataURL(file);
        $("input").after(img);
    }
});
</script>
